#arrays {
  --background-color: #0E0B16;
  --background-highlight: #161122;
  --background-highlight-bright: #2b2244;
  --accent-color: rgba(131, 189, 114, 1);
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}

#conditionals {
  --background-color: #0E0B16;
  --background-highlight: #161122;
  --background-highlight-bright: #2b2244;
  --accent-color: rgba(230, 95, 108, 1);
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}

#forloops {
  --background-color: #161122;
  --background-highlight: #211a33;
  --background-highlight-bright: #372b55;
  --accent-color: #EDC065;
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}

#switches {
  --background-color: #161122;
  --background-highlight: #211a33;
  --background-highlight-bright: #372b55;
  --accent-color: rgba(131, 189, 114, 1);
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}

#variables {
  --background-color: #0E0B16;
  --background-highlight: #161122;
  --background-highlight-bright: #2b2244;
  --accent-color: #EDC065;
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}
#whileloops {
  --background-color: #0E0B16;
  --background-highlight: #161122;
  --background-highlight-bright: #2b2244;
  --accent-color: rgba(131, 189, 114, 1);
  --main-text-color: #DFDCE3;
  --subtitle-text: #98959b;
  rgba(230, 95, 108, 1);
  rgba(216, 153, 90, 1);
  rgba(237, 192, 101, 1);
  rgba(131, 189, 114, 1);
  rgba(43, 184, 197, 1);

  //ONLY CHANGE THE COLORS IN THIS ROOT BOX
}

body{
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5 {
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
}

#menuBar {
  background-color:var(--accent-color);
  height:42px;
}

#menuSpans {
  height: 100%;
}

#buttonHolder {
  /* getting around bootstrap padding for each button */
  padding: 0;
}

#buttonHolder a {
  color: var(--background-color);
}

#buttonHolder:hover a {
  color: var(--main-text-color);
  text-decoration: none;
}

#menuButton {
  transition-duration: 0.25s;
  color:var(--background-color);
  font-family: "Roboto", sans-serif;
  font-weight:900;
  height:100%;
  padding-top:9px;
  text-align: center;
}

#menuButton:hover {
  color:var(--main-text-color);
  background-color: var(--background-color);
  cursor: pointer;
  transition-duration: 0.25s;
}

#menuButton:hover #dropdown {
  display: block;
}

#menuButton #dropdown a {
  color: var(--main-text-color);
}

#menuButton #dropdown a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

#menuButton #dropdown {
  font-size: 12px;
  text-align: left;
  padding-top: 12px;
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 1;
}
#menuButton #dropdown div {
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
  color: var(--main-text-color);
  background-color: var(--background-color);
  transition-duration: 0.2s;
  border-bottom: 1px solid var(--background-color);
}
#menuButton #dropdown div:hover {
  color: var(--accent-color);
  background-color: var(--background-highlight);
  border-bottom: 1px solid var(--background-highlight-bright);
}

#page {
  display: none;
  position: relative;
  transition-duration: .25s;
}

#title {
  color:var(--main-text-color);
  font-size:150px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}

#subtitle {
  margin-left: 80px;
  color:var(--subtitle-text);
  font-size:30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom:0px;
}

#line {
  margin-top:10px;
  background-color: var(--accent-color);
  height: 4px;
  border-radius:1.5px;
  margin-left: 95px;
}

#paragraphs {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
}

#activityTitle {
  color:var(--main-text-color);
  font-size:80px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}

#nextLesson {
  width: 200px;
  border: 1px solid var(--accent-color);
  background-color: var(--background-color);
  border-radius: 0px 25px 25px 0px;
  color: var(--accent-color);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#nextLesson:hover {
  background-color: var(--background-highlight);
}

#previousLesson {
  width: 200px;
  border: 1px solid var(--accent-color);
  background-color: var(--background-color);
  border-radius: 25px 0px 0px 25px;
  color: var(--accent-color);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
}

#previousLesson:hover {
  background-color: var(--background-highlight);
}

/* Syles Specific to forloop.html */
#loop {
  height: 200px;
  width: 200px;
  float: left;
  margin-left: 30%;
  position: absolute;
  -webkit-animation: loop 40s linear infinite;
  -moz-animation: loop 40s linear infinite;
  animation: loop 40s linear infinite;
}
@-moz-keyframes loop { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes loop { 100% { -webkit-transform: rotate(360deg); } }
@keyframes loop { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#forLoopCodeSnippit {
  border: 1px solid var(--accent-color);
  height: 230px;
  width: 580;
  margin-top: 15%;
}
/* Styles Specific to switches.html */
#switchImage
{
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 20%;
  position: absolute;
}

#switchCodeSnippit {
  border: 1px solid var(--accent-color);
  height: 360px;
  width: 560px;
}
